* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #EEE;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
    width: 100%;
}

h2 {
    font-size: clamp(1rem, 1.5rem + 3vw, 2.5rem);
    padding: 1.5rem 0 0.5rem 0;
    margin: 0 auto; 
    text-align: center;
}

.support h2 { color: #071A52; }
.contact-form h2 { color: #FFF; }

h3 {
    color: #071A52;
    font-size: 1.35rem;
    font-weight: 500;
    padding: 0 0 1.5rem 0;
    text-align: center;
}

hr {
    margin: 0 auto; 
    width: 90px; 
}
.hr--white { border: 2px solid #FFF; }
.hr--blue { border: 2px solid #071A52; }

a { text-decoration: none; }

.header {
    align-items: center;
    background-color: #071A52;
    display: flex;
    height: 6.5rem;
    justify-content: space-between;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .nav__item {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        text-align: center;
    }
    .nav__link { border-bottom: 1px solid #FFF; }
}

.header__item, 
.footer-logo {
    height: 80px;
    width: 170px;
}

.nav__link {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1rem 2rem;
}
.nav__link:hover,
.nav__link--current-page {
    border-bottom: 3px solid #FFF;
}

.support { padding: 0 2.5rem; }
.support-types {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2.5rem 0;
}
.support-card {
    background-color: #FFF;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    height: 350px;
    opacity: 0;
    padding: 2rem 0 0 0;
    transform: translateY(-80px);
    transition: 0.3s ease-in-out;
    width: 270px;
}
.support-card:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .support-card { margin-bottom: 2.5rem; }
}
.support-card__icon {
    height: 100px;
    margin: 1.5rem auto 0 auto;
    width: 100px;
}

.support-card__contact {
    color: #071A52;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 4.5rem auto 0 auto;
    text-align: center;
}
.support-card__email {
    color: #071A52;
    font-size: 1rem;
    font-weight: 400;
    margin: 4.5rem auto 0 auto;
    text-align: center;
}

.contact-form {
    background-color: #071A52;
    padding: 2.5rem;
}
@media (max-width: 380px) {
    .contact-form { padding: 2.5rem 0; }
    .contact-form h2 { width: min-content; }
}

label,
::-webkit-inner-spin-button { 
    display: none; 
}

.form {
    background-color: #FFF;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    opacity: 0;
    padding: 1rem;
    transform: scale(0);
    width: -moz-fit-content;
    width: fit-content;
}
.form-subscriber-name,
.form-subscriber-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-field {
    background-color: #071a5200;
    border-radius: 0.5rem;
    border: 3px solid #071A52;
    caret-color: #071A52;
    color: #071A52;
    font-family: Lexend, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    outline-style: none;
    padding: 0.5rem 0;
    text-indent: 1rem;
    width: 13.5rem;
}
@media (max-width: 675px) {
    .form-subscriber-name,
    .form-subscriber-contact {
        flex-direction: column;
        justify-content: center;
    }
    .form-field {
        text-align: center;
        text-indent: 0;
    }
}
.form-department {
    background-color: #071a5200;
    border-radius: 0.5rem;
    border: 3px solid #071A52;
    color: #777;
    font-family: Lexend, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    outline-style: none;
    padding: 0.5rem 0;
    text-indent: 1rem;
    width: 13.5rem;
}
.form-box-department__option {
    background-color: #FFF;
    color: #071A52;
}
.form-box-message__message {
    background-color: #071a5200;
    border-radius: 0.5rem;
    border: 3px solid #071A52;
    color: #071A52;
    font-family: Lexend, sans-serif;
    font-size: 1rem;
    height: 5rem;
    max-width: 13.5rem;
    min-width: 13.5rem;
    outline-style: none;
    padding: 0.5rem;
    text-align: center;
}
.form-button {
    background: #071A52;
    border-radius: 1rem;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    left: 50%;
    margin: 1rem 0 0 0;
    outline-style: none;
    padding: 0.5rem;
    position: relative;
    transform: translateX(-50%);
    width: 9rem;
}
.form-result {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    text-align: center;
}
.form-box--flex-center {
    display: flex;
    justify-content: center;
}
.field--margin { margin: 0.5rem; }

.arrow-anchor-top {
    bottom: 25px;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 25px;
    transition: 0.3s ease;
    width: 50px;
    z-index: 2;
}
.arrow-anchor-top:hover { 
    transform: translateY(-20%); 
    transition: 0.3s ease;
}
@media (max-width: 400px) {
    .arrow-anchor-top {
        bottom: 15px;
        height: 30px;
        right: 15px;
        width: 30px;
    }
}

.footer { background-color: #2A2F35; }
.footer-information,
.copyright {
    padding: 1.5rem 0;
}
.footer-information, 
.social-networks {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}
.social-networks__link {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    width: 40px;
}

.copyright { background-color: #191D20; }
.copyright__text, 
.copyright__link {
    color: #FFF;
    text-align: center;
}

.message--confirm { color: #0D1; }
.message--error { color: #D10; }
.field--error { border-color: #D10; }