h2 {
    font-size: clamp(1rem, 1.5rem + 3vw, 2.5rem);
    margin: 0 auto; 
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
}

.support h2 { 
    color: var(--primary-color); 
}
.contact-form h2 { 
    color: var(--white-color); 
}

h3 {
    color: var(--primary-color);
    font-size: 1.35rem;
    font-weight: 500;
    padding: 0 0 1.5rem 0;
    text-align: center;
}

.support { 
    padding: 0 2.5rem; 
}
.support-types .support-types__box {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2.5rem 0;
}
.support-card {
    background-color: var(--white-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px var(--black-color);
    cursor: pointer;
    height: 350px;
    opacity: 0;
    padding: 2rem 0 0 0;
    transform: translateY(-80px);
    transition: 0.3s ease-in-out;
    width: 270px;
}
.support-card:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .support-card { 
        margin-bottom: 2.5rem; 
    }
}
.support-card__icon {
    height: 100px;
    margin: 1.5rem auto 0 auto;
    width: 100px;
}

.support-card__contact {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 4.5rem auto 0 auto;
    text-align: center;
}
.support-card__email {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4.5rem auto 0 auto;
    text-align: center;
}

.contact-form {
    background-color: var(--primary-color);
    padding: 2.5rem;
}
@media (max-width: 380px) {
    .contact-form { 
        padding: 2.5rem 0; 
    }
    .contact-form h2 { 
        width: min-content; 
    }
}

label,
::-webkit-inner-spin-button { 
    display: none; 
}

.form {
    background-color: var(--white-color);
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    opacity: 0;
    padding: 1rem;
    transform: scale(0);
    width: -moz-fit-content;
    width: fit-content;
}
.form-subscriber-name,
.form-subscriber-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-field {
    background-color: var(--primary-opacity-color);
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    caret-color: var(--primary-color);
    color: var(--primary-color);
    font-family: Lexend, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    outline-style: none;
    padding: 0.5rem 0;
    text-indent: 1rem;
    width: 13.5rem;
}
@media (max-width: 675px) {
    .form-subscriber-name,
    .form-subscriber-contact {
        flex-direction: column;
        justify-content: center;
    }
    .form-field {
        text-align: center;
        text-indent: 0;
    }
}
.form-department {
    background-color: var(--primary-opacity-color);
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    color: #777;
    font-family: Lexend, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    outline-style: none;
    padding: 0.5rem 0;
    text-indent: 1rem;
    width: 13.5rem;
}
.form-box-department__option {
    background-color: var(--white-color);
    color: var(--primary-color);
}
.form-box-message__message {
    background-color: var(--primary-opacity-color);
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-family: Lexend, sans-serif;
    font-size: 1rem;
    height: 5rem;
    max-width: 13.5rem;
    min-width: 13.5rem;
    outline-style: none;
    padding: 0.5rem;
    text-align: center;
}
.form-button {
    background: var(--primary-color);
    border-radius: 1rem;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    left: 50%;
    margin: 1rem 0 0 0;
    outline-style: none;
    padding: 0.5rem;
    position: relative;
    transform: translateX(-50%);
    width: 9rem;
}
.form-result {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    text-align: center;
}
.form-box--flex-center {
    display: flex;
    justify-content: center;
}
.field--margin { 
    margin: 0.5rem; 
}

.message--confirm { 
    color: #0D1; 
}
.message--error { 
    color: #D10; 
}
.field--error { 
    border-color: #D10;
}