* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #EEE;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
}

.support-types h2 {
    color: #071A52;
    border-bottom: 3px solid #071A52;
}
.contact-form h2 {
    color: #FFF;
    border-bottom: 3px solid #FFF;
}

h3 {
    color: #071A52;
    font-size: 1.35rem;
    font-weight: 500;
    text-align: center;
    padding: 0 0 1.5rem 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #071A52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    nav div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    nav a {
        border-bottom: 1px solid #FFF;
    }
}

.logo, 
.footer-logo {
    width: 170px;
    height: 80px;
}

nav a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1rem 2rem;
}
nav a:hover, 
.current-page {
    border-bottom: 3px solid #FFF;
}

.support-types {
    width: 100%;
    padding: 0 2.5rem;
}

.contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 2.5rem 0;
}

.telephone, 
.whatsapp,
.support,
.commercial {
    background-color: #FFF;
    box-shadow: 0 0 10px #000;
    border-radius: 1.5rem;
    width: 270px;
    height: 350px;
    padding: 2rem 0 0 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.telephone:hover, 
.whatsapp:hover,
.support:hover,
.commercial:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .telephone, 
    .whatsapp,
    .support,
    .commercial {
        margin-bottom: 2.5rem;
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin: 1.5rem auto 0 auto;
}

.contact-number p {
    color: #071A52;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 4.5rem auto 0 auto;
}

.text-email p {
    color: #071A52;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin: 4.5rem auto 0 auto;
}

.contact-form {
    background-color: #071A52;
    width: 100%;
    padding: 2.5rem;
}

@media (max-width: 380px) {
    .contact-form {
        padding: 2.5rem 0;
    }

    .contact-form h2 {
        width: min-content;
    }
}

#form {
    background-color: #FFF;
    border-radius: 0.5rem;
    width: fit-content;
    margin: 2.5rem auto;
    padding: 1rem;
}

label { display: none; }

input {
    color: #071A52;
    caret-color: #071A52;
    background-color: #071a5200;
    border: 3px solid #071A52;
    border-radius: 0.5rem;
    text-indent: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Lexend, sans-serif;
    margin: 0 1rem;
    padding: 0.5rem 0;
    outline-style: none;
}

::-webkit-inner-spin-button {
    display: none;
}

.subscriber-name,
.subscriber-contact,
.box-department,
.box-message {
    margin: 1rem 0;
}

.box-department,
.box-message {
    display: flex;
    justify-content: center;
}

@media (max-width: 610px) {
    .subscriber-name,
    .subscriber-contact {
        flex-direction: column;
    }

    #tname,
    #tsurname,
    #temail,
    #tphone {
        display: block;
        text-align: center;
        text-indent: 0;
        margin: 1rem auto;
    }
}

#department {
    color: #777;
    background-color: #071a5200;
    border: 3px solid #071A52;
    border-radius: 0.5rem;
    text-indent: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Lexend, sans-serif;
    width: 15rem;
    padding: 0.5rem 0;
    outline-style: none;
}

option {
    color: #071A52;
    background-color: #FFF;
}

#message {
    color: #071A52;
    background-color: #071a5200;
    border: 3px solid #071A52;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-family: Lexend, sans-serif;
    min-width: 15rem;
    max-width: 15rem;
    height: 5rem;
    padding: 0.5rem;
    outline-style: none;
}

button {
    color: #FFF;
    background: #071A52;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    font-family: Lexend, sans-serif;
    width: 9rem;
    padding: 0.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline-style: none;
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: fit-content;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
}

.more-information {
    background-color: #2A2F35;
    width: 100%;
}

.informations, 
.copyright {
    padding: 1.5rem 0;
}

.informations, 
.social-networks {
    width: fit-content;
    margin: 0 auto;
}

.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.copyright {
    background-color: #191D20;
    width: 100%;
}

.copyright p, 
a {
    color: #FFF;
    text-align: center;
}

.confirm {
    color: #0D1;
}
.message-error {
    color: #D10;
}
.field-error {
    border-color: #D10;
}