* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #EEE;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
}
.development-services h2 {
    color: #071A52;
    border-bottom: 3px solid #071A52;
}
.technologies h2 {
    color: #FFF;
    border-bottom: 3px solid #FFF;
}

h3 {
    font-size: 1.35rem;
    text-align: center;
    padding: 0 0 1.5rem 0;
}

.services h3 {
    color: #071A52;
}

.html h3 {
    color: #E44F25;
}
.css h3 {
    color: #1572B7;
}
.js h3 {
    color: #F5DD19;
}
.bootstrap h3 {
    color: #5C4083;
}
.sass h3 {
    color: #C96999;
}
.vue h3 {
    color: #41B783;
}

a {
    text-decoration: none;
}

header {
    background-color: #071A52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    nav div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    nav a {
        border-bottom: 1px solid #FFF;
    }
}

.logo, 
.footer-logo {
    width: 170px;
    height: 80px;
}

nav a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1rem 2rem;
}
nav a:hover {
    border-bottom: 3px solid #FFF;
}

.crumb {
    background-color: #DDD;
    width: 100%;
    padding: 1rem 0 1rem 5rem;
}
@media (max-width: 770px) {
    .crumb {
        padding-left: 0;
    }

    .path {
        width: fit-content;
        margin: 0 auto;
    }
}
.crumb a {
    color: #071A52;
    font-weight: 600;
}
.crumb strong {
    font-weight: 600;
}
.crumb a:hover {
    font-style: italic;
}

.development-services {
    width: 100%;
    padding: 0 2.5rem;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 2.5rem 0;
}

.construction,
.maintenance {
    background-color: #FFF;
    box-shadow: 0 0 15px #000;
    border-radius: 1.5rem;
    width: 300px;
    height: 350px;
    margin: 0 40px;
    padding: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.construction:hover,
.maintenance:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out; 
}

@media (max-width: 1200px) {
    .construction, 
    .maintenance {
        margin-bottom: 2.5rem;
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
    width: 10rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.technologies {
    background-color: #071A52;
    width: 100%;
    padding: 0 2.5rem;
}

.technology-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 2.5rem 0;
}

.tech {
    background-color: #FFF;
    box-shadow: 0 0 10px #000;
    border-radius: 1.5rem;
    width: 300px;
    height: 250px;
    margin: 0 40px 30px 40px;
    padding: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.tech:hover {
    transform: translateY(-6%);
    transition: 0.3s ease-in-out; 
}

.more-information {
    background-color: #2A2F35;
    width: 100%;
}

.informations, .copyright {
    padding: 1.5rem 0;
}

.informations, .social-networks {
    width: fit-content;
    margin: 0 auto;
}

.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.copyright {
    background-color: #191D20;
    width: 100%;
}

.copyright p, a {
    color: #FFF;
    text-align: center;
}