* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #EEE;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
}
.development-services h2,
.technologies h2 {
    color: #071A52;
    border-bottom: 3px solid #071A52;
}
.sites h2 {
    color: #FFF;
    border-bottom: 3px solid #FFF;
}

h3 {
    font-size: 1.35rem;
    text-align: center;
    padding: 0 0 1.5rem 0;
}

.services h3 { color: #071A52; }

.construction h3 { color: #E7C048; }
.construction { border-bottom: 5px solid #E7C048; }

.prototyping h3 { color: #9DCE1D; }
.prototyping { border-bottom: 5px solid #9DCE1D; }

.maintenance h3 { color: #2A293B; }
.maintenance { border-bottom: 5px solid #2A293B; }

.html h3 { color: #E44F25; }
.html { border-bottom: 5px solid #E44F25; }

.css h3 { color: #1572B7; }
.css { border-bottom: 5px solid #1572B7; }

.js h3 { color: #F5DD19; }
.js { border-bottom: 5px solid #F5DD19; }

.bootstrap h3 { color: #5C4083; }
.bootstrap { border-bottom: 5px solid #5C4083; }

.sass h3 { color: #C96999; }
.sass { border-bottom: 5px solid #C96999; }

.less h3 { color: #2A4D80; }
.less { border-bottom: 5px solid #2A4D80; }

.react h3 { color: #61DAFB; }
.react { border-bottom: 5px solid #61DAFB; }

.vue h3 { color: #41B783; }
.vue { border-bottom: 5px solid #41B783; }

.angular h3 { color: #DD0031;}
.angular { border-bottom: 5px solid #DD0031; }

.landing-page h3 { color: #59538A; }
.landing-page { border-bottom: 5px solid #59538A; }
.landing-page-button { background-color: #59538A; }
.landing-page-button:hover { background-color: #9187D6; }

.site-static h3 { color: #4D1E23; }
.site-static { border-bottom: 5px solid #4D1E23; }
.site-static-button { background-color: #4D1E23; }
.site-static-button:hover { background-color: #75353E; }

.spa h3 { color: #00C093; }
.spa { border-bottom: 5px solid #00C093; }
.spa-button { background-color: #00C093; }
.spa-button:hover { background-color: #00f0B8; }

.ecommerce h3 { color: #FA541E; }
.ecommerce { border-bottom: 5px solid #FA541E; }
.ecommerce-button { background-color: #FA541E; }
.ecommerce-button:hover { background-color: #F37146; }

a {
    text-decoration: none;
}

header {
    background-color: #071A52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    nav div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    nav a {
        border-bottom: 1px solid #FFF;
    }
}

.logo, 
.footer-logo {
    width: 170px;
    height: 80px;
}

nav a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1rem 2rem;
}
nav a:hover {
    border-bottom: 3px solid #FFF;
}

.crumb {
    background-color: #DDD;
    width: 100%;
    padding: 1rem 0 1rem 5rem;
}
@media (max-width: 770px) {
    .crumb {
        padding-left: 0;
    }

    .path {
        width: fit-content;
        margin: 0 auto;
    }
}
.crumb a {
    color: #071A52;
    font-weight: 600;
}
.crumb strong {
    font-weight: 600;
}
.crumb a:hover {
    font-style: italic;
}

.development-services {
    width: 100%;
    padding: 0 2.5rem;
}

.services,
.sites-types,
.technology-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 2.5rem 0;
}

.construction,
.prototyping,
.maintenance,
.plan,
.tech {
    background-color: #FFF;
    box-shadow: 0 0 10px #000;
    border-radius: 1.5rem;
    width: 300px;
    height: 350px;
    margin: 0 40px;
    padding: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.construction:hover,
.prototyping:hover,
.maintenance:hover,
.plan:hover,
.tech:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out; 
}

.plan { 
    width: 270px; 
    height: auto;
    margin: 0 10px;
}

.tech {
    height: 250px;
    margin: 0 40px 30px 40px;
}

@media (max-width: 1200px) {
    .construction,
    .prototyping, 
    .maintenance,
    .plan {
        margin-bottom: 2.5rem;
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.icon-2 {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
}

.description {
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
    width: 10rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.description-2 {
    width: fit-content;
    margin: 1rem auto;
} 

.description-2 p {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 1.5rem 0;
}

.sites {
    background-color: #071A52;
    width: 100%;
    padding: 0 2.5rem;
}

.technologies {
    width: 100%;
    padding: 0 2.5rem;
}

.price {
    width: fit-content;
    margin: 0 auto;
}

.price p {
    text-align: center;
}

.price p span {
    font-size: 2rem;
}

button {
    color: #FFF;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    font-family: Lexend, sans-serif;
    width: 10rem;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    outline-style: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.more-information {
    background-color: #2A2F35;
    width: 100%;
}

.informations, 
.copyright {
    padding: 1.5rem 0;
}

.informations, 
.social-networks {
    width: fit-content;
    margin: 0 auto;
}

.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.copyright {
    background-color: #191D20;
    width: 100%;
}

.copyright p, 
a {
    color: #FFF;
    text-align: center;
}