* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Lexend, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h1 {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 1.5rem;
    font-size: 5rem;
    text-align: center;
    padding: 5%;
    cursor: default;
}

h2 {
    font-size: 3rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 0;
}
.services h2 { 
    color: #FFF; 
    border-bottom: 3px solid #FFF; 
}
.greetings h2 { 
    color: #071A52; 
    border-bottom: 3px solid #071A52; 
}

h3 {
    color: #071A52;
    font-size: 1.35rem;
    text-align: center;
    padding: 0 0 1.5rem 0;
}

h4 {
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 2.5rem;
}

ul {
    list-style: none;
}
li {
    text-align: center;
    padding: 0.5rem;
}

header {
    background-color: #071A52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    nav div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    nav a {
        border-bottom: 1px solid #FFF;
    }
}

.logo, .footer-logo {
    width: 170px;
    height: 80px;
}

nav a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem 2rem;
}
nav a:hover {
    border-bottom: 3px solid #FFF;
}

.section-initial {
    background-image: url("../img/");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.services {
    background-color: #071A52;
    width: 100%;
    padding: 0 2.5rem;
}
.service-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 3.5rem 0;
}

.development, 
.hosting, 
.internet {
    background-color: #FFF;
    box-shadow: 0 0 25px #000;
    border-radius: 1.5rem;
    width: 300px;
    height: 400px;
    margin: 0 40px;
    padding: 2rem;
    transition: 0.2s all;
    cursor: pointer;
}
.development:hover,
.hosting:hover,
.internet:hover { 
    transform: translateY(-6%); 
    transition: 0.2s all; 
} 

@media (max-width: 1200px) {
    .development, 
    .hosting, 
    .internet {
        margin-bottom: 2.5rem;
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
    width: 10rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.button-see-more {
    background-color: #071A52;
    border-radius: 1.5rem;
    text-align: center;
    width: 9rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.button-see-more:hover {
    background-color: #4060BE;
}

.button-see-more a {
    color: #FFF;
    text-decoration: none;
}

.greetings {
    background-color: #FFF;
    width: 100%;
    padding: 0 2.5rem 2rem 2.5rem;
}
.greetings p {
    color: #000;
    text-align: center;
    line-height: 30px;
}

.more-information {
    background-color: #2A2F35;
    width: 100%;
}

.informations, .copyright {
    padding: 1.5rem 0;
}

.informations, .social-networks {
    width: fit-content;
    margin: 0 auto;
}

.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.copyright {
    color: #FFF;
    background-color: #191D20;
    text-align: center;
    width: 100%;
}