* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #EEE;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

h2 {
    font-size: clamp(1rem, 1.5rem + 3vw, 2.5rem);
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
}
.service-header h2 { color: #FFF; }
.greetings h2 { color: #071A52; }

h3 {
    color: #071A52;
    font-size: 1.35rem;
    padding: 0 0 1.5rem 0;
    text-align: center;
}

h4 {
    color: #000;
    font-size: 2rem;
    margin: 2.5rem;
    text-align: center;
}

hr {
    margin: 0 auto; 
    width: 90px; 
}
.hr--white { border: 2px solid #FFF; }
.hr--blue { border: 2px solid #071A52; }

a { text-decoration: none; }

.header {
    align-items: center;
    background-color: #071A52;
    display: flex;
    height: 6.5rem;
    justify-content: space-between;
    padding: 0 5rem;
}

@media (max-width: 770px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .nav__item {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        text-align: center;
    }
    .nav__link { border-bottom: 1px solid #FFF; }
}

.header__item, 
.footer-logo {
    height: 80px;
    width: 170px;
}

.nav__link {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1rem 2rem;
}
.nav__link:hover,
.nav__link--current-page {
    border-bottom: 3px solid #FFF;
}

.section-initial {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    margin: 1rem 0;
}
.section-initial__item {
    height: 300px;
    width: 400px;
}
.section-initial__img {
    opacity: 0;
    transform: scale(0);
}

.service {
    background-color: #071A52;
    padding: 0 2.5rem;
}
.service-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.5rem 0;
}
.service-group__item {
    background-color: #FFF;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    height: 400px;
    margin: 0 40px;
    opacity: 0;
    padding: 2rem;
    transform: translateY(-80px);
    transition: 0.3s ease-in-out;
    width: 300px;
}
.service-group__item:hover { 
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out; 
}
@media (max-width: 1200px) {
    .service-group__item { margin-bottom: 2.5rem; }
}
.service-group__icon {
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
.service-group__description {
    font-size: 1rem;
    line-height: 25px;
    margin: 0 auto;
    padding: 1.5rem 0;
    text-align: center;
    width: 10rem;
}
.service-group__button-see-more {
    background-color: #071A52;
    border-radius: 1.5rem;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    width: 9rem;
}
.service-group__button-see-more:hover { background-color: #6C63FE; }
.service-group__button-see-more a { color: #FFF; }

.greetings { 
    opacity: 0;
    padding: 2rem 2.5rem 4rem 2.5rem; 
    transform: translateX(-600px);
    transition: 0.7s ease;
}
.greetings__text {
    color: #000;
    line-height: 30px;
    text-align: center;
}

.footer { background-color: #2A2F35; }
.footer-information, 
.copyright {
    padding: 1.5rem 0;
}
.footer-information, 
.social-networks {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}
.social-networks__link {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    width: 40px;
}

.copyright { background-color: #191D20; }
.copyright__text, 
.copyright__link {
    color: #FFF;
    text-align: center;
}