h2 {
    font-size: clamp(1rem, 1.5rem + 3vw, 2.5rem);
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
}

.hosting-resources h2 { 
    color: var(--white-color); 
}
.hosting-plans h2 { 
    color: var(--primary-color); 
}

.theme--basic h3 { color: #F79F1F; }
.theme--basic { border-bottom: 5px solid #F79F1F; }
.theme--basic-button { background-color: #F79F1F; }
.theme--basic-button:hover { background-color: #D88B19; }

.theme--full h3 { color: #833471; }
.theme--full { border-bottom: 5px solid #833471; }
.theme--full-button { background-color: #833471; }
.theme--full-button:hover { background-color: #69275A; }

.theme--advanced h3 { color: #009432; }
.theme--advanced { border-bottom: 5px solid #009432; }
.theme--advanced-button { background-color: #009432; }
.theme--advanced-button:hover { background-color: #007A29; }

.hosting-resources h3 {
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
}
.hosting-plans h3 {
    font-size: 1.35rem;
    padding: 0 0 1rem 0;
    text-align: center;
}

h4 {
    font-size: 1.35rem;
    padding: 0 0 1.5rem 0;
    text-align: center;
}

.theme--mysql h4 { color: #E68E00; }
.theme--mysql { border-bottom: 5px solid #E68E00; }

.theme--mongodb h4 { color: #479F37; }
.theme--mongodb { border-bottom: 5px solid #479F37; }

.theme--postgresql h4 { color: #336691; }
.theme--postgresql { border-bottom: 5px solid #336691; }

.theme--node h4 { color: #82CD28; }
.theme--node { border-bottom: 5px solid #82CD28; }

.theme--php h4 { color: #6280B6; }
.theme--php { border-bottom: 5px solid #6280B6; }

.theme--ruby h4 { color: #BF1703; }
.theme--ruby { border-bottom: 5px solid #BF1703; }

.theme--java h4 { color: #E66F01; }
.theme--java { border-bottom: 5px solid #E66F01; }

.theme--python h4 { color: #FFE634; }
.theme--python { border-bottom: 5px solid #FFE634; }

.hosting-plans { 
    padding: 0 2.5rem; 
}
.hosting-plans-types .hosting-plans-types__box {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2.5rem 0;
}

.card-hosting {
    background-color: var(--white-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px var(--black-color);
    cursor: pointer;
    height: auto;
    margin: 0 40px;
    opacity: 0;
    padding: 2rem;
    transform: translateY(-80px);
    transition: 0.3s ease-in-out;
    width: 300px;
}
.card-hosting:hover {
    transform: translateY(-6%); 
    transition: 0.3s ease-in-out; 
}
@media (max-width: 1200px) {
    .card-hosting { 
        margin-bottom: 2.5rem; 
    }
}
.card-hosting__price {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}
.card-hosting__price--center { 
    text-align: center; 
}
.card-hosting__price--font2 { 
    font-size: 2rem; 
}
.card-hosting__description {
    margin: 1rem auto;
    width: -moz-fit-content;
    width: fit-content;
} 
.card-hosting__text {
    align-items: center;
    display: flex;
    margin: 1.5rem 0;
    text-align: left;
}
.card-hosting__icon {
    height: 20px;
    margin: 0 0.5rem 0 0;
    width: 20px;
}
.card-hosting-button {
    border-radius: 1rem;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    left: 50%;
    margin: 0.5rem;
    outline-style: none;
    padding: 0.5rem;
    position: relative;
    transform: translateX(-50%);
    width: 10rem;
}

.hosting-resources {
    background-color: var(--primary-color);
    padding: 0 2.5rem;
}
.card-hosting-tech {
    background-color: var(--white-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px var(--black-color);
    cursor: pointer;
    height: 250px;
    margin: 0 40px 30px 40px;
    opacity: 0;
    padding: 2rem;
    transform: translateY(-80px);
    transition: 0.3s ease-in-out;
    width: 300px;
}
.card-hosting-tech:hover {
    transform: translateY(-6%);
    transition: 0.3s ease-in-out; 
}
.card-hosting-tech__icon {
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
.hosting-database .hosting-database__box, 
.hosting-languages .hosting-languages__box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem 0;
}
.hosting-database { 
    padding-bottom: 0; 
}